h1{
  color:white;
  float:left;
  display:inline;
  font-family: "Myriad Pro";
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-text{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  font-family: "Source Code Pro";
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

li {
  float:right;
}

img{
  max-width:100%;
  max-height:100%;
}

body{
  background-color: black;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  max-width:100%;
  max-height:100%;
  text-decoration: none;
  background-color: #333333ff;
  position: sticky;
  font-family: "Myriad Pro";
}

li a:hover {
  background-color: #111;
}
